@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
body{background: url("image/catnip.png") no-repeat fixed top right;	
}
#container{width:800px;
	margin:0 auto;
}
.flex-container {
  min-height: 600px;
		display:flex;
		gap:20px;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
  
}
 
.flex-container > div {
  
  margin-center: 80px;
  padding: 20px;
  font-size: 30px;
}
  
	.left{
	width:680px;
		hieght:500px;
	background-color:rgba(53,252,80,1.00);
	border-radius: 25px;
	float:left;
	margin:0px 10px 10px 15px;
	padding: 30px 30px 30px 30px;
	flex:50%
}
.right{
	width:880px;
		hieght:800px;
	background-color:purple;
	border-radius: 25px;
	float:right;
	margin: 0px 10px 10px 15px;
	padding: 30px 30px 30px 30px;
	flex:50%
}

footer{
	background-color:pink;
	clear:both;
	display:block;
	flex:50%
}
header  >h1{text-align:center;color:beige;
	
}
header >h4{text-align: center}
header {background-color: rgba(53,252,80,1.00) }
#container .right{
	background-color: rgba(150,248,154,1.00);
	flex:50%
}
a:link{
	color:rgba(5,50,3,1.00);
	
}
a:hover{
	font-size: 1.2em;
}
.handlee-regular {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}
.list{
	width:170px;
	hieght:500px;
	background-color:rgba(53,252,80,1.00);
	border-radius: 25px;
	float:left;
	margin:0px 10px 10px 15px;
	padding: 30px 30px 30px 30px;
	flex:50%
	
	
}
/*nav bar*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFB6C1; /* Light pink background */
	flex:50%
}

nav li {
  float: left;
  border-right: 1px solid #FF69B4; /* A slightly darker pink for the border */
}

nav li:last-child {
  border-right: none;
	flex:50%
}

nav li a {
  display:block;
  color: white; /* White font color */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	flex:50%
}

nav li a:hover:not(.active) {
 background-color: #FF69B4; /* Darker pink on hover */
}

.active {
  background-color: #FF1493; /* A vibrant pink for the active state */
}
.form{width:380px;
	hieght:500px;
	background-color:rgba(53,252,80,1.00);
	border-radius: 25px;
	float:left;
	margin:0px 10px 10px 15px;
	padding: 30px 30px 30px 30px;
	flex:50%
	}
@media (max-width: 799px) {
	.flex-container {
    flex-direction: column;
	}}